/* Reset */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
menu,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

/* General */
html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

nav {
  position: relative;
  width: 100%;
}

body {
  background-color: #353535;
}

main {
  box-sizing: border-box;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-size: 19px;
  font-weight: bold;
}

h1 {
  font-family: "Shrikhand", cursive;
}

h2,
h3,
h4,
p,
a {
  font-family: "Roboto", sans-serif;
}

h4,
p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

li {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.site-loader {
  animation: hideAnimation 0s ease 2s;
  animation-fill-mode: forwards;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #c0c0c0;
  color: white;
  z-index: 5;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}
.loader {
  margin: auto;
  border: 20px solid #eaf0f6;
  border-radius: 50%;
  border-top: 20px solid #9356dc;
  width: 200px;
  height: 200px;
  animation: spinner 4s linear infinite;
  margin-top: 130px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.site-content {
  position: relative;
}

button {
  display: inline-block;
  height: 50px;
  padding: 0 70px;
  box-shadow: 0 5px 10px #c0c0c0;
  border-radius: 25px;
  border: none;
  font: normal 18px "Roboto", sans-serif;
  text-align: center;
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  transition: all 1.5s ease;
  color: white;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 4px 5px #c0c0c0;
  filter: brightness(1.5);
}

/*heart animation*/
.card__like {
  position: relative;
  margin: 0;
  right: 40px;
}
.card__like i {
  transition: opacity 0.5s ease-out;
}

.card__like-menu .heart-fill,
.card__like-menu .heart-empty {
  font-size: 30px;
}

.card__like-menu {
  position: absolute;
  right: 0;
  top: 0;
}

.heart-fill,
.heart-empty {
  position: absolute;
  right: 0;
  color: black;
}

.heart-fill {
  background: linear-gradient(#ff79da, #9356dc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.heart-fill:hover {
  cursor: pointer;
  opacity: 1;
}

/*menu fade in*/
.menu__item,
.function__card,
.card {
  animation: slide-up-fade-in ease 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}
.menu__item:hover,
.function__card:hover,
.card:hover {
  transform: scale(1.1);
}

.menu__heading-each:nth-of-type(1) .menu__item:nth-of-type(1) {
  animation-delay: 0s;
}

.menu__heading-each:nth-of-type(1) .menu__item:nth-of-type(2) {
  animation-delay: 1s;
}

.menu__heading-each:nth-of-type(1) .menu__item:nth-of-type(3) {
  animation-delay: 2s;
}

.menu__heading-each:nth-of-type(1) .menu__item:nth-of-type(4) {
  animation-delay: 3s;
}

.menu__heading-each:nth-of-type(2) .menu__item:nth-of-type(1) {
  animation-delay: 3s;
}

.menu__heading-each:nth-of-type(2) .menu__item:nth-of-type(2) {
  animation-delay: 4s;
}

.menu__heading-each:nth-of-type(2) .menu__item:nth-of-type(3) {
  animation-delay: 5s;
}

.menu__heading-each:nth-of-type(2) .menu__item:nth-of-type(4) {
  animation-delay: 6s;
}

.menu__heading-each:nth-of-type(3) .menu__item:nth-of-type(1) {
  animation-delay: 6s;
}

.menu__heading-each:nth-of-type(3) .menu__item:nth-of-type(2) {
  animation-delay: 7s;
}

.menu__heading-each:nth-of-type(3) .menu__item:nth-of-type(3) {
  animation-delay: 8s;
}

.menu__heading-each:nth-of-type(3) .menu__item:nth-of-type(4) {
  animation-delay: 9s;
}

.menu__heading:nth-of-type(1) .menu__item:nth-of-type(1) {
  animation-delay: 1.75s;
}
.menu__heading:nth-of-type(1) .menu__item:nth-of-type(2) {
  animation-delay: 2.75s;
}
.menu__heading:nth-of-type(1) .menu__item:nth-of-type(3) {
  animation-delay: 3.75s;
}
.menu__heading:nth-of-type(1) .menu__item:nth-of-type(4) {
  animation-delay: 4.75s;
}

.menu__heading:nth-of-type(2) .menu__item:nth-of-type(1) {
  animation-delay: 4.75s;
}
.menu__heading:nth-of-type(2) .menu__item:nth-of-type(2) {
  animation-delay: 5.75s;
}
.menu__heading:nth-of-type(2) .menu__item:nth-of-type(3) {
  animation-delay: 6.75s;
}
.menu__heading:nth-of-type(2) .menu__item:nth-of-type(4) {
  animation-delay: 7.75s;
}

.menu__heading:nth-of-type(3) .menu__item:nth-of-type(1) {
  animation-delay: 9.75s;
}
.menu__heading:nth-of-type(3) .menu__item:nth-of-type(2) {
  animation-delay: 10.75s;
}
.menu__heading:nth-of-type(3) .menu__item:nth-of-type(3) {
  animation-delay: 11.75s;
}
.menu__heading:nth-of-type(3) .menu__item:nth-of-type(4) {
  animation-delay: 12.75s;
}

@keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    transform: translate(0px, 40px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
/*menu tick*/
.menu__item {
  position: relative;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  overflow: hidden;
}
.menu__item:hover .menu__title,
.menu__item:hover .menu__description {
  margin-right: 120px;
}
.menu__item:hover .menu__tick-box {
  right: 0;
}
.menu__item:hover .menu__tick {
  transform: rotate(360deg);
}
.menu__item:hover .menu__price {
  right: 100px;
}
.menu__description, .menu__title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: margin 1s ease-out;
  margin-right: 60px;
}
.menu__price {
  position: absolute;
  right: 40px;
  bottom: 20px;
  transition: right 1s ease-out;
  display: flex;
  align-items: center;
}
.menu__tick-box {
  background: #99e2d0;
  position: absolute;
  right: -80px;
  top: 0;
  height: 100%;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 1s ease-out;
}
.menu__tick {
  color: #fff;
  transform: rotate(0deg);
  transition: all 1s ease-out;
}

.function__colour {
  transition: all 0.4s;
}
.function__colour i {
  margin-right: 0.5em;
  transition: all 0.4s;
}
.function__colour:hover {
  background-color: rgba(147, 86, 220, 0.25);
}
.function__colour:hover i {
  color: #9356dc;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
}

.back-arrow {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 30px;
  height: 100%;
  z-index: 1;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px gray;
  background-color: #fff;
}
header img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: auto;
  margin: 0 auto;
}

footer {
  position: relative;
  padding: 30px;
  background-color: #353535;
  color: white;
}
footer p {
  margin-bottom: 10px;
}
footer > p {
  font-family: "Shrikhand", cursive;
  margin-bottom: 20px;
}
footer i {
  width: 26px;
}
footer a:hover {
  color: #99e2d0;
}

/* Location */
.content,
body {
  margin: 0 auto;
}

.location {
  height: 60px;
  background-color: #eaeaea;
}
.location h3 {
  font-weight: 500;
}
.location i {
  margin-right: 5px;
}

/* Explore */
.explore {
  min-height: 300px;
  text-align: center;
  background-color: #f6f6f6;
}
.explore p {
  font-size: 18px;
  opacity: 90%;
  width: 300px;
}

/* Function */
.function {
  align-items: unset;
  background-color: white;
  padding-bottom: 40px;
}
.function article {
  position: relative;
  box-sizing: border-box;
  padding: 0 0 0 15px;
  margin: 15px 0;
  width: 100%;
  height: 80px;
  cursor: pointer;
}
.function article h3 {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 5% 0 30px;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0 5px 10px #c0c0c0;
}
.function article h3 i {
  margin-right: 0.5em;
}
.function article p {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 25px;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #9356dc;
  color: white;
}

/* Restaurants */
.restaurants {
  background-color: #f6f6f6;
  align-items: unset;
}

.card {
  box-sizing: border-box;
  min-height: 200px;
  margin: 20px 0;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 10px #c0c0c0;
  position: relative;
}
.card__picture img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.card__label {
  margin-top: 10px;
  margin-right: 10px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #99e2d0;
  padding: 7px 30px;
  border-radius: 5px;
}
.card__label p {
  font-weight: bold;
  opacity: 50%;
}
.card__text {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__like {
  font-size: 30px;
  display: flex;
  height: 100%;
  align-items: center;
}

.menu {
  padding: 20px 0 0 0;
  background: #f6f6f6;
  padding: 10px 20px;
  border-radius: 20px 20px 0 0;
}
.menu__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  padding: 30px 50px 100px 50px;
  position: relative;
  top: -40px;
}
.menu__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding-top: 20px;
}
.menu__resturant {
  box-sizing: border-box;
  position: relative;
  padding-right: 10px;
  margin-bottom: 20px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__heading {
  font-size: 25px;
  color: #000;
  margin-bottom: 20px;
}
.menu__item {
  background: #fff;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 20px;
  box-shadow: 5px 5px 10px 2px #c0c0c0;
}
.menu__title {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}
.menu__description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.menu__price {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 17px;
}
.menu__check {
  display: none;
}

img {
  height: 250px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

article {
  margin-bottom: 10px;
  width: 100%;
}
article > h2 {
  position: relative;
  text-transform: uppercase;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-weight: normal;
}
article > h2:after {
  content: "";
  border-bottom: #99e2d0 4px solid;
  width: 60px;
  position: absolute;
  bottom: -2px;
  left: 0;
}

@media screen and (min-width: 600px) {
  .content,
  body {
    max-width: 1000px;
    margin: 0 auto;
  }
  .homepage {
    max-width: 100%;
    margin: 0;
  }
  .back-arrow {
    display: none;
  }
  header img {
    height: 50px;
  }
  /* MAIN */
  main.home-body,
  section {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
  }
  section.location {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  section.explore,
  section.function {
    width: 50%;
    min-height: 300px;
    padding: 40px;
  }
  section.explore {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
  }
  section.function > div:hover {
    transform: scale(1.01);
  }
  section.restaurants {
    width: 100%;
    padding: 30px 40px;
    display: flex;
    flex-flow: row wrap;
  }
  section.restaurants h2 {
    width: 100%;
    padding-left: 20px;
  }
  section.restaurants .card {
    margin: 15px 20px;
    width: calc(50% - 40px);
  }
  .menu__bastille img {
    height: 350px;
  }
  .menu__resturant {
    font-size: 35px;
  }
  /* Heart*/
  .heart-fill,
  .heart-empty {
    right: 40px;
  }
  .card__like-menu .heart-fill,
  .card__like-menu .heart-empty {
    font-size: 35px;
  }
}/*# sourceMappingURL=main.css.map */