@media screen and (max-width: 600px) {
  /* GENERAL */

  header,
  section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 5%;
  }

  /* HEADER */
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 10px grey;
    background-color: white;
    z-index: 999;
    nav > a:nth-child(2) {
      position: absolute;
      left: 70px;
      top: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      i {
        font-size: 30px;
      }
    }
  }
}
