/*heart animation*/
.card__like {
  position: relative;
  margin: 0;
  i {
    transition: opacity 0.5s ease-out;
  }
}

.heart-fill,
.heart-empty {
  font-size: 25px;
  position: absolute;
  right: 40px;
  color: $primary;
}

.heart-fill {
  background: linear-gradient($secondary, $primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.heart-fill:hover {
  cursor: pointer;
  opacity: 1;
}

/*menu fade in*/

.menu__item,
.function__card,
.card {
  animation: slide-up-fade-in ease 1s;
  opacity: 0;
  animation-fill-mode: forwards;
}

.menu__item:nth-of-type(1) {
  animation-delay: 0s;
}

.menu__item:nth-of-type(2) {
  animation-delay: 2ms;
}

.menu__item:nth-of-type(3) {
  animation-delay: 3ms;
}

@keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    transform: translate(0px, 40px);
  }
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}
