/* Reset */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	background:transparent;
}

/* General */

html, body {
	width:100%;
	height:100%;
	font-size:100%;
}

body {
	background-color: $gris-fonce;
}

main {
    margin-top: 80px;
    box-sizing: border-box;
}

h1 {
	font-size: 26px;
	font-weight: bold;
}

h2 {
	font-size: 22px;
	font-weight: bold;
}

h3 {
	font-size: 19px;
	font-weight: bold;
}

h1 {
    font-family: 'Shrikhand', cursive;
}

h2, h3, h4, p, a {
    font-family: 'Roboto', sans-serif;
}
h4, p {
    font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
}

li {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;  
}
a {
	text-decoration:none;
    color:inherit;
}