/* Location */

.location {
  height: 60px;
  background-color: $gris-moyen;

  h3 {
    font-weight: 500;
  }

  i {
    margin-right: 5px;
  }
}

/* Explore */

.explore {
  min-height: 300px;
  text-align: center;
  background-color: $gris-clair;

  p {
    font-size: 18px;
    opacity: 90%;
    width: 300px;
  }
}

/* Function */

.function {
  align-items: unset;
  background-color: white;
  padding-bottom: 40px;
  article {
    position: relative;
    box-sizing: border-box;
    padding: 0 0 0 15px;
    margin: 15px 0;
    width: 100%;
    height: 80px;
    cursor: pointer;
    h3 {
      display: flex;
      align-items: center;
      height: 100%;
      padding: 0 5% 0 30px;
      border-radius: 20px;
      background-color: $gris-clair;
      box-shadow: 0 5px 10px $gris-normal;
      i {
        margin-right: 0.5em;
      }
    }
    p {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 25px;
      left: 0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $primary;
      color: white;
    }
  }
}

/* Restaurants */

.restaurants {
  background-color: $gris-clair;
  align-items: unset;
}

.card {
  box-sizing: border-box;
  min-height: 200px;
  margin: 20px 0;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 5px 10px $gris-normal;
  position: relative;

  &__picture img {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }

  &__label {
    margin-top: 10px;
    margin-right: 10px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: $tertiary;
    padding: 7px 30px;
    border-radius: 5px;

    p {
      font-weight: bold;
      opacity: 50%;
    }
  }

  &__text {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__like {
    font-size: 30px;
    display: flex;
    height: 100%;
    align-items: center;
  }
}
